html {
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;  
    font-size: 10px; 
} 

body {
    height: 100vh;
    background: linear-gradient(-270deg, rgba(85, 64, 191, 1), rgba(85, 64, 191, 0.7), rgb(153, 179, 247));
    padding: 0;
    margin: 0;
}

#navbar {
    font-size: 2rem;
    display: flex;
    list-style: none;
    padding: 1%;
    height: 10%;
    margin: 0;
    margin-bottom: 5%;

}

#logo {
    margin-right: 60%;
}

#navbar li {
    cursor: pointer;
    color: aliceblue;
    padding-left: 2%;
}

#navbar li:hover {
    color: yellow;
}

#one {
    margin-bottom: 25%;
    width: 50%; 
    margin: auto;
}

#jumbo {
    color: aliceblue;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 5%;
}

#info-block {
    font-size: 2rem;
    margin-left: 50%;
    width: 100%;
}

#jumbo.inner-1 {
    /* margin-left: 10%; */
    display: flex;
    flex-direction: column;
}

#left-jumbo {
    width: 50%;
}

h1 {
    margin-left: 50%;
    font-size: 3.5rem;
    width: 100%;
}

#info-nav {
    width: 50%;
    display: flex;
    justify-content: flex-start;
}

.info-button {
    color: aliceblue;
    border: 1px solid aliceblue;
    border-radius: 5px;
    background-color: transparent;
    font-size: 1.5rem;
    margin-left: 50%;
    padding: 10px;
}

.info-button:hover {
    color: rgba(85, 64, 191, 0.8);
    background-color: aliceblue;
    cursor: pointer;
}

#left-top {
    position: absolute;
    left: 55%;
    top: 18%;
    max-width: 200px;
}

#right-bottom {
    position: absolute;
    left: 67%;
    top: 38%;
    max-width: 220px;
}

#what-this h2 {
    text-align: center;
}
#what-is {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10%;
}

.info-blocc {
    text-align: center;
}
#what-this h2{
    color: aliceblue;
    font-size: 2.5rem;
}
.un-list {
    color: aliceblue;
    font-size: 2rem;
    padding: 0;
}
.un-list li {
    list-style-type: none;
    border-bottom: 1px solid aliceblue;
    padding-bottom: 1%;
}

#user-list img {
    max-width: 200px;
    max-height: 200px;
}

#user-stories h2 {
    text-align: center;
    color: aliceblue;
    font-size: 2.5rem;
}

#user-list {
    display: flex;
    justify-content: space-evenly;
}

#howto {
    color: aliceblue;
    text-align: center;
    margin-bottom: 10%;
}

#howto h2 {
    font-size: 2.5rem;
}

#howto p {
    font-size: 2rem;
    padding: 0 10% 0 10%;
}

footer {
    background-color: #26118C;
    margin-top: 5%;
    font-size: 1.5rem;
    color: aliceblue;
}

address {
    margin-left: 5%;
}

footer p {
    margin-left: 5%;
}

#form {
    align-items: center;
}

#pic2 {
    max-width: 100%;
    z-index: -1;
}